
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;

}

/* Sidebar */
.sidebar {

}
.read-indicator {
    font-size: 12px;
    color: green; /* Use a color for read status */
    margin-left: 8px; /* Add spacing between the text and tick */
    vertical-align: middle;
}
